body {
  background-color: darkseagreen;
}

h1 {
  font-family: monospace;
  color: black;
  text-align: center;
  font-size: 60px;
  margin-bottom: 40px;
  margin-top: 20px;
  margin-left: 220px;
}

img {
  border-radius: 30%;
  height: 500px;
  float: right;
}

p.main {
  margin-left: 280px;
  margin-top: 100px;
  color: darkgreen;
  font-family: monospace;
  font-size: 20px;
}

p.header {
  margin-left: 280px;
  font-family: monospace;
  font-style: oblique;
}

.container-fluid ul {
  margin-left: 280px;
  font-family: monospace;
}

.container-fluid ol {
  margin-left: 280px;
  font-family: monospace;
}

.quote {
  padding-top: 200px;
  padding-left: 120px;
  margin-left: 250px;
  margin-right: 200px;
  font-family: monospace;
}

.projectcontent ul {
  padding-top: 20px;
  margin-left: 250px;
}

.projectcontent ul li {
  padding-bottom: 15px;
  font-family: monospace;
  list-style-type: circle;
}

#rainbowz {
  height: 150px;
  margin-right: 35px;
  margin-top: 20px;
}

#feather {
  float: right;
  height: 400px;
}

#howl {
  border-radius: 0%;
  height: 450px;
}

#weed {
  color: darkgreen;
}

#sidebar {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  background-color: black;
  top: 0;
  left: 0;
}

#sidebar ul {
  list-style-type: none;
  padding-top: 250px;
}

#sidebar ul li {
  font-size: 15px;
  font-family: monospace;
  padding-top: 20px;
}
